---
language: php

addons:
  apt:
    packages:
    - elinks # For dysplaying php files on console.

cache:
  directories:
  - $HOME/.composer/cache/files

php:
- nightly
- 7.3
- 7.2
- 7.1
- 7.0 # Remaining deprecation notices

env:
  global:
  - PATH=$TRAVIS_BUILD_DIR/website-skeleton/bin:$(composer config bin-dir --global --absolute):$PATH
  # - CREATE_PROJECT_DIRECTORY=/dev/shm/website-skeleton # ramdisk
  - CREATE_PROJECT_DIRECTORY=website-skeleton
matrix:
  fast_finish: true
  allow_failures:
  - php: nightly

before_install:
- go get -u github.com/jingweno/ccat
# Disabling Xdebug - Debugger and Profiler Tool for PHP
- |
  php -r "print_r(get_loaded_extensions(TRUE));"
  if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
    cat ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
    install --directory ~/.phpenv/versions/$(phpenv version-name)/etc/on-demand
    mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ~/.phpenv/versions/$(phpenv version-name)/etc/on-demand
    php -r "print_r(get_loaded_extensions(TRUE));"
  fi

install:
- bash install.bash
# - cd $CREATE_PROJECT_DIRECTORY
- |
  if [[ -v $CREATE_PROJECT_DIRECTORY ]]; then
    cd $CREATE_PROJECT_DIRECTORY
  else
    cd website-skeleton
  fi
# - composer global require symfony/flex
- composer global require sensiolabs/security-checker

script:
# - export SYMFONY_DEPRECATIONS_HELPER=$(php -r "if (version_compare(PHP_VERSION, '7.1.0', '<')) {echo 'weak_vendors';}")
# - export SYMFONY_DEPRECATIONS_HELPER=$(php -r "if (version_compare(PHP_VERSION, '7.1.0', '>=')) {echo 'disabled';}")
# Disabled because of "Referencing controllers with a single colon is deprecated since Symfony 4.1"
- export SYMFONY_DEPRECATIONS_HELPER=weak_vendors
- printenv SYMFONY_DEPRECATIONS_HELPER
- composer exec --verbose -- simple-phpunit

after_script:
- composer config bin-dir --absolute
- composer config bin-dir --global --absolute
- composer show --latest
- ls -A ~
- composer exec --list
- composer global exec --list
- composer global exec security-checker
- composer global exec -- security-checker
- composer global exec -- security-checker --ansi
- composer global exec -- security-checker security:check --end-point=http://security.sensiolabs.org/check_lock --ansi
- composer global exec -- security-checker security:check composer.lock --end-point=http://security.sensiolabs.org/check_lock --ansi

- ls --almost-all --color
- $GOPATH/bin/ccat .env
- $GOPATH/bin/ccat .env.dist
- $GOPATH/bin/ccat phpunit.xml.dist
- ls --color bin
- ls --almost-all --recursive --color var
- ls --color src
- ls --color src/Controller
- ls --color src/Entity
- php -s src/Entity/User.php | elinks -force-html -dump-color-mode 4 -dump
- ls --color src/Repository
- php -s src/Repository/AuthorRepository.php | elinks -force-html -dump-color-mode 4 -dump
- php -s src/Repository/BlogPostRepository.php | elinks -force-html -dump-color-mode 4 -dump
# - composer exec --verbose -- console doctrine:query:sql "INSERT INTO author (name) VALUES ('Tom B. Erichsen')"
- composer exec --verbose -- console doctrine:query:dql "SELECT u FROM App\Entity\User u"
- composer exec --verbose -- console doctrine:query:sql "SELECT * FROM fos_user"

- ls --recursive --color config
- php -s           config/bundles.php | elinks -force-html -dump-color-mode 4 -dump
- $GOPATH/bin/ccat config/routes.yaml
- $GOPATH/bin/ccat config/services_test.yaml
- $GOPATH/bin/ccat config/services.yaml
- $GOPATH/bin/ccat config/packages/doctrine.yaml
- $GOPATH/bin/ccat config/packages/easy_admin.yaml
- $GOPATH/bin/ccat config/packages/fos_user.yaml
- $GOPATH/bin/ccat config/packages/framework.yaml
- $GOPATH/bin/ccat config/packages/translation.yaml
- $GOPATH/bin/ccat config/packages/routing.yaml
- $GOPATH/bin/ccat config/packages/security.yaml
- $GOPATH/bin/ccat config/packages/test/web_profiler.yaml
- $GOPATH/bin/ccat config/routes/annotations.yaml
- $GOPATH/bin/ccat config/routes/dev/twig.yaml
- $GOPATH/bin/ccat config/routes/dev/web_profiler.yaml

- composer exec --verbose -- console debug:router
- composer exec --verbose -- console server:start &
- printf 'HEAD /admin/dashboard HTTP/1.1\r\n\r\n' | socat - TCP4:localhost:8000,forever >/dev/null # Waiting for server to connect.
- elinks http://localhost:8000/login -dump-color-mode 4 -dump
# - elinks http://localhost:8000/index.php/admin -dump-color-mode 4 -dump


- composer show --latest
- $GOPATH/bin/ccat composer.json

- composer exec --verbose -- console --ansi

- composer exec --verbose -- console list debug --ansi
- composer exec --verbose -- console help debug:router --ansi

- composer exec --verbose -- console list doctrine --ansi
- composer exec --verbose -- console help doctrine:database:create --ansi
# - composer exec --verbose -- console help doctrine:generate:entities --ansi
- composer exec --verbose -- console help doctrine:mapping:convert --ansi
- composer exec --verbose -- console help doctrine:mapping:import --ansi
- composer exec --verbose -- console help doctrine:mapping:info --ansi
- composer exec --verbose -- console help doctrine:migrations:diff --ansi
- composer exec --verbose -- console help doctrine:migrations:migrate --ansi
- composer exec --verbose -- console help doctrine:query:dql --ansi
- composer exec --verbose -- console help doctrine:query:sql --ansi
- composer exec --verbose -- console help doctrine:schema:update --ansi
- composer exec --verbose -- console help doctrine:schema:validate --ansi

- composer exec --verbose -- console list fos:user --ansi
- composer exec --verbose -- console help fos:user:create --ansi

- composer exec --verbose -- console list make --ansi
- composer exec --verbose -- console help make:crud --ansi
- composer exec --verbose -- console help make:entity --ansi
- composer exec --verbose -- console help make:fixtures --ansi
- composer exec --verbose -- console help make:migration --ansi
- composer exec --verbose -- console help make:unit-test --ansi

- composer exec --verbose -- console list router --ansi
- composer exec --verbose -- console help router:match --ansi

- composer exec --verbose -- console list server --ansi
- composer exec --verbose -- console help server:start --ansi

- composer exec --verbose -- simple-phpunit
- composer exec --verbose -- simple-phpunit --help
- composer exec --verbose -- simple-phpunit --list-groups
- composer exec --verbose -- simple-phpunit --list-suites
- composer exec --verbose -- simple-phpunit --list-tests

- composer config --list
- composer config --global --list
- printenv PATH
- pwd ; du -sch *
